<section class="container contacts">
    <div class="section">
    <h1 class="section__title">Контакты</h1>
    <ul class="list">
        <li class="cards-contact__item">
            <h2>CAFE</h2>
            <h3>Chicago</h3>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
            <ul class="list">
                <li><a class="link" href="tel:+610383766284">+61(0) 383 766 284 </a></li>
                <li><a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </li>
        <li class="cards-contact__item">
            <h2>FOOD TRUCK</h2>
            <h3>Los Angeles</h3>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
            <ul class="list">
                <li><a class="link" href="tel:+610383766284">+61(0) 383 766 284 </a></li>
                <li><a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </li>
        <li class="cards-contact__item">
            <h2>CAFE</h2>
            <h3>New York</h3>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
            <ul class="list">
                <li><a class="link" href="tel:+610383766284">+61(0) 383 766 284 </a></li>
                <li><a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
        </li>
    </ul>
    </div>
</section>
