<footer class="footer section"   > 
    <div class="container" >
      <p class="footer__text">homemade ice cream made</p>
      <p class="footer__subtext"> with passion</p>
  
  
      <div class="footer__social">
        <ul class="footer__icons"> 
          <li>
           <a class="footer__link">
           <svg class="footer__icon" width='32px' height='32px'>
           <use href=""> 
           </use>
           </svg>
         </a>
         </li>
      <li>
         <a class="footer__link">
           <svg class="floor__icon" width='32px' height='32px'>
           <use href=""> 
           </use>
           </svg>
         </a>
      </li>
      <li>
         <a class="footer__link">
           <svg class="floor__icon" width='32px' height='32px'>
           <use href=""> 
           </use>
           </svg>
         </a>
     </li>
        </ul>
      </div>
  
      <div class="footer__contacts">
      <a href="+61 (0) 383 766 284"><span>Feel free to contact</span> +61 (0) 383 766 284</a>
      <p>© 2019 - IceCream. All Rights Reserved.</p>
      </div>
  
    </div>
  </footer>