<section class="products container">
    <div class="products__text-box">
        <p class="products__text">100% natural</p>
        <h2 class="products__title">products</h2>
    </div>
    <ul class="products-list list">
        <li class="products-list__item">
            <div class="products-list__textbox">
                <h3 class="products-list__subtitle">ice cream</h3>
                <div class="products-list__points"><svg>
                        <use></use>
                    </svg></div>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>
                <button type="button" class="products-list__button"><svg class="products-list__button-icon">
                        <use href="#"></use>
                    </svg>
                </button>
            </div>

        </li>
        <li class="products-list__item">
            <div class="products-list__textbox products-list__textbox--yellow">
                <h3 class="products-list__subtitle">ice coffee</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>
                <button type="button" class="products-list__button"><svg class="products-list__button-icon">
                        <use href="#"></use>
                    </svg>
                </button>
            </div>

        </li>
        <li class="products-list__item">
            <div class="products-list__textbox products-list__textbox--green">
                <h3 class="products-list__subtitle">milkshakes</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et.
                    dolore magna
                    aliqua facilisis.</p>
                <button type="button" class="products-list__button"><svg class="products-list__button-icon">
                        <use href="#"></use>
                    </svg>
                </button>
            </div>
        </li>
    </ul>

</section>